* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    flex-wrap: wrap;
}

.title {
    text-align: center;
}

.keys {
    width: 100%;
    max-width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keys button  {
    background-color: #ecebe9;
    margin: 4px;
    height: 50px;
    width: 40px;
    border-radius: 5px;
    border-width: 0;
    border-color: #ecebe9;
}

#Enter {
    margin-left: 20px;
}

#巜 {
    margin-right: 20px;
}

#Enter,
#巜 {
    width: 56px;

}

.squares {
    width: 100%;
    max-width: 330px;
    margin-bottom: 10px;
}

.row {
    display: flex;
}

.square {
    display: flex;
    flex: 1;
    height: 50px;
    font-weight: bold;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.gamemessage {
    height: 15px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    padding: 5px;
    margin: 0;
}

.yellow {
    background-color: #c8b653 !important;
    border: none !important;
    color: #fff;
}

.green {
    background-color: #6ca965 !important;
    border: none !important;
    color: #fff;
}

.grey {
    background-color: #787c7f !important;
    border: none !important;
    color: #fff;
}

/* Styles for a square with the "flip" class */
.square.flip {
    animation: 0.5s linear flipping;
}

/* Keyframe animation for flipping squares */
@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}